/* The code you provided is a CSS stylesheet. It contains styles that define the appearance and layout
of elements on a webpage. Here's a breakdown of what each part of the code does: */
@import url("photographer.css");
@import url("lightbox.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  cursor: pointer;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.country {
  color: #911c1c;
  font-size: 1.3rem;
  margin-top: -0.5rem;
}

.photographer_section article div {
  width: 200px;
  height: 200px;
  -webkit-clip-path: ellipse(50% 50%);
  clip-path: ellipse(50% 50%);
  background: #c4c4c4;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.photographer_section article div img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 200px;
  overflow: unset;
}

.photographer_section article :nth-child(4n) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
}

article :nth-child(5n) {
  font-size: 12px;
  line-height: 12px;
  color: #757575;
  margin-top: 0.5rem;
}

.focus-highlight {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.5); /* Ombre bleue pour un effet tridimensionnel */
}

/*----------------------------------------------------------------*/
@media screen and (max-width: 800px) {
  .photographer_section {
    grid-template-columns: 1fr 1fr;
  }
  header {
    text-align: center;
  }
  .logo {
    margin: auto;
  }
}

@media screen and (max-width: 769px) {
  .photographer_section article h2 {
    font-size: 25px;
  }
  .country {
    font-size: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .photographer_section {
    grid-template-columns: 1fr;
  }
  header {
    display: block;
}
header h1 {
  margin: 0;
}
}